{:paths   ["src/main"
           "src/clj-kondo"],

 :deps    {expound/expound        {:mvn/version "0.8.7"}
           org.clojure/core.async {:mvn/version "1.3.618"}}

 :aliases {:test      {:extra-paths ["src/test" "src/test-clj-kondo"]
                       :extra-deps  {org.clojure/test.check  {:mvn/version "1.1.0"}
                                     fulcrologic/fulcro-spec {:mvn/version "3.1.9"}
                                     clj-kondo/clj-kondo     {:mvn/version "2022.01.15"}}}

           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.700"}}}

           :dev       {:extra-paths ["src/dev" "src/test"]
                       :extra-deps  {thheller/shadow-cljs        {:mvn/version "2.11.7"}
                                     org.clojure/clojure         {:mvn/version "1.10.0"}
                                     org.clojure/tools.nrepl     {:mvn/version "0.2.13"}
                                     binaryage/devtools          {:mvn/version "1.0.0"}
                                     org.clojure/tools.namespace {:mvn/version "1.0.0"}}}}}
