{:defn-macro             nil
 :throw?                 true
 :guardrails/compact?    true
 :guardrails/trace?      true
 :guardrails/stack-trace :none
 :expound                {:show-valid-values? true
                          :print-specs?       true}}
